:root {
  --unit: 10px;
  --Red-Hat-Display: "Red Hat Display", sans-serif;

  //font size

  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;

  //spacing

  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);

  //font weights

  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;

  //colors

  --white: hsl(0, 0%, 100%);
  --pale_blue: hsl(225, 100%, 94%);
  --bright_blue: hsl(245, 75%, 52%);
  --very__pale_blue: hsl(225, 100%, 98%);
  --desaturated_blue: hsl(224, 23%, 55%);
  --dark_blue: hsl(223, 47%, 23%);
}

body {
  font-size: var(--size-m);
  background: var(--pale_blue);
}

.wrapper {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-top: var(--span-m);
  padding-bottom: var(--span-m);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  &__image {
    width: 100%;
    display: block;
    object-fit: cover;

    &--desktop {
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @media only screen and (max-width: 600px) {
        display: block;
      }
    }
  }
}

.summary {
  position: relative;
  z-index: 3;

  @media only screen and (max-width: 600px) {
    margin: 0 calc(var(--span-xs) + 5px);
  }
}

.card {
  border-radius: 20px;
  overflow: hidden;
  background: var(--white);
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);

  &__image {
    display: block;
    width: 100%;
  }

  &__body {
    padding: var(--span-l) var(--span-m);
  }

  &__heading {
    font-size: calc(var(--size-l) + 1px);
    font-weight: var(--weight-2xxlg);
    text-align: center;
    color: var(--dark_blue);
    letter-spacing: 0.02em;
  }

  &__paragraph {
    padding-top: var(--span-xs);
    font-size: calc(var(--size-m));
    font-weight: var(--weight-md);
    text-align: center;
    color: var(--desaturated_blue);
    max-width: 360px;
    margin: 0 auto;
  }

  &__footer {
    padding-top: var(--span-m);
    margin-left: var(--span-s);
    margin-right: var(--span-s);
    display: grid;
    gap: var(--span-xs);

    @media only screen and (max-width: 600px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__button {
    padding: calc(var(--span-xs) + 5px) var(--span-m);
    display: block;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: var(--size-s);
    font-weight: var(--weight-xlg);
    text-align: center;
    background: transparent;

    &--bg {
      color: var(--white);
      background: var(--bright_blue);
      box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.2);
      transition: all 300ms;

      &:hover {
        opacity: 0.8;
      }
    }

    &--no-bg {
      transition: all 300ms;
      opacity: 0.6;
      color: var(--dark_blue);

      &:hover {
        opacity: 1;
      }
    }
  }
}

.plan {
  margin-left: var(--span-s);
  margin-right: var(--span-s);
  margin-top: calc(var(--span-s));
  display: flex;
  padding: var(--span-xs) var(--span-s);
  border-radius: 10px;
  background: var(--very__pale_blue);
  align-items: center;
  gap: calc(var(--span-xs) + 5px);

  @media only screen and (max-width: 600px) {
    margin-left: 0;
    margin-right: 0;
  }

  &__heading {
    font-size: calc(var(--size-m));
    font-weight: var(--weight-2xxlg);
    text-align: left;
    color: var(--dark_blue);
  }

  &__text {
    font-size: calc(var(--size-m));
    font-weight: var(--weight-md);
    text-align: left;
    color: var(--desaturated_blue);
  }

  &__action {
    display: inline-block;
    margin-left: auto;
    font-size: var(--size-s);
    font-weight: var(--weight-xlg);
    text-align: left;
    color: var(--bright_blue);
    transition: all 300ms;

    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
}
