@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--Red-Hat-Display);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

:root {
  --unit: 10px;
  --Manrope: "Manrope", sans-serif;
  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;
  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);
  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;
  --light__cyan: hsl(193, 38%, 86%);
  --neon__green: hsl(150, 100%, 66%);
  --grayish__blue: hsl(217, 19%, 38%);
  --dark__grayish__blue: hsl(217, 19%, 24%);
  --dark__blue: hsl(218, 23%, 16%);
}

.container {
  min-height: 100vh;
  background: var(--dark__blue);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 calc(var(--span-xs) + 5px);
  }
}

.card {
  padding: var(--span-l);
  border-radius: 15px;
  background: var(--dark__grayish__blue);
  min-width: 400px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .card {
    min-width: 100%;
    max-width: 100%;
  }
}

.card__title {
  font-family: var(--Manrope);
  font-size: var(--size-xs);
  font-weight: var(--weight-xlg);
  text-align: center;
  text-transform: uppercase;
  color: var(--neon__green);
  letter-spacing: 4.5px;
}

.card__paragraph {
  margin-top: var(--span-s);
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--Manrope);
  font-size: calc(var(--size-l) + 4px);
  font-weight: var(--weight-xxlg);
  text-align: center;
  color: var(--light__cyan);
}

@media only screen and (max-width: 600px) {
  .card__paragraph {
    max-width: 100%;
  }
}

.card__paragraph p {
  font-family: var(--Manrope);
  font-size: calc(var(--size-l) + 4px);
  font-weight: var(--weight-xxlg);
  text-align: center;
  color: var(--light__cyan);
  max-width: 100%;
}

.card__paragraph::first-letter {
  text-transform: capitalize;
}

.card__divider {
  padding-top: var(--span-m);
  padding-bottom: var(--span-m);
}

@media only screen and (max-width: 600px) {
  .card__divider--desktop {
    display: none;
  }
}

.card__divider--mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .card__divider--mobile {
    display: block;
  }
}

.card__button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  background: var(--neon__green);
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.card__button svg {
  pointer-events: none;
}

.card__button:hover {
  -webkit-box-shadow: 0px 2px 15px 10px rgba(82, 255, 168, 0.4);
          box-shadow: 0px 2px 15px 10px rgba(82, 255, 168, 0.4);
}
/*# sourceMappingURL=styles.css.map */