@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --unit: 10px;
  --Overpass: "Overpass", sans-serif;
  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;
  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);
  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: var(--very-dark-blue);
  font-family: var(--Overpass);
  font-size: calc(var(--size-m) - 1px);
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 0 var(--span-s);
  }
}

.rating--hidden {
  display: none;
}

.rating__wrapper {
  margin-top: var(--span-m);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--span-xs);
}

.rating__box {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.rating__input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.rating__input:checked + .rating__button {
  background: var(--medium-grey);
  color: var(--white);
}

.rating__button {
  position: relative;
  z-index: 2;
  background: #252e37;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--light-grey);
  font-size: calc(var(--size-m) - 1px);
  font-weight: var(--weight-sm);
  text-align: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.rating__button span {
  vertical-align: middle;
}

.rating__button:hover {
  background: var(--orange);
  color: var(--white);
}

.rating__btn {
  cursor: pointer;
  margin-top: var(--span-m);
  display: block;
  width: 100%;
  padding: calc(var(--span-xs) + 5px) var(--span-m);
  text-align: center;
  font-size: calc(var(--size-s) - 1px);
  font-weight: var(--weight-xlg);
  border-radius: 30px;
  outline: none;
  border: 1px solid transparent;
  background: var(--orange);
  color: var(--white);
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.rating__btn:hover {
  border: 1px solid var(--orange);
  color: var(--orange);
  background: var(--white);
}

.card {
  padding: var(--span-m);
  border-radius: 35px;
  background: #1e252f;
  min-height: 300px;
  max-width: 400px;
}

.card__image {
  display: block;
  width: 162px;
  height: 108px;
  margin: 0 auto;
}

.card__icon {
  width: 48px;
  height: 48px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: #252e37;
}

.card__heading {
  margin-top: var(--span-m);
  font-size: calc(var(--size-m) + 6px);
  font-weight: var(--weight-xlg);
  line-height: inherit;
  color: var(--white);
  letter-spacing: 0.02em;
  text-align: left;
}

.card__heading--center {
  text-align: center;
}

.card__paragraph {
  margin-top: var(--span-xs);
  color: var(--light-grey);
  font-size: calc(var(--size-m) - 1px);
  font-weight: var(--weight-sm);
  text-align: left;
}

.card__paragraph--center {
  text-align: center;
  padding-bottom: var(--span-m);
}

.feedback--hidden {
  display: none;
}

.feedback__pop {
  margin-top: var(--span-m);
  text-align: center;
}

.feedback__text {
  font-size: calc(var(--size-m) - 1px);
  font-weight: var(--weight-sm);
  text-align: center;
  padding: 8px 18px;
  border-radius: 20px;
  background: #252e37;
  color: var(--orange);
}
/*# sourceMappingURL=styles.css.map */