@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --unit: 10px;
  --Manrope: "Manrope", sans-serif;
  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;
  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);
  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: var(--Manrope);
  font-size: calc(var(--size-m) - 1px);
  line-height: 1.5;
}

:root {
  --slide-fill: 50%;
  --f__s__cyan: hsl(174, 77%, 80%);
  --f__s__cyan__fill: hsl(174, 77%, 80%);
  --f__str__cyan__fill: hsl(174, 86%, 45%);
  --f__l__grayish__red: hsl(14, 92%, 95%);
  --f__l__red: hsl(15, 100%, 70%);
  --f__p__blue: hsl(226, 100%, 87%);
  --f__white: hsl(0, 0%, 100%);
  --f__m__bg: hsl(230, 100%, 99%);
  --f__e__slider__blue: hsl(224, 65%, 95%);
  --f__toggle__bg: hsl(223, 50%, 87%);
  --f__grayish__blue: hsl(225, 20%, 60%);
  --f__dark__sat__blue: hsl(227, 35%, 25%);
}

.wrapper {
  background: var(--f__m__bg);
  min-height: 100vh;
}

.header {
  position: relative;
  width: 100vw;
  background-size: cover;
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-position: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: calc(2.2 * var(--span-xl));
  padding-bottom: calc(5.15 * var(--span-2xl));
}

.header__overlay {
  position: absolute;
  left: 50%;
  top: calc(1.5 * var(--span-xl));
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__details {
  position: relative;
  z-index: 2;
}

.header__heading {
  font-family: var(--Manrope);
  font-size: calc(var(--size-l) + 4px);
  font-weight: var(--weight-xxlg);
  color: var(--f__dark__sat__blue);
  text-align: center;
}

.header__paragraph {
  margin-top: calc(var(--span-xs) + 2px);
  font-family: var(--Manrope);
  font-size: calc(var(--size-m) - 1px);
  font-weight: var(--weight-lg);
  color: var(--f__grayish__blue);
  text-align: center;
}

.pricing {
  position: relative;
  z-index: 2;
  background: var(--f__white);
  max-width: 550px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(-4.5 * var(--span-2xl) + var(--span-2xl));
  border-radius: 10px;
  padding-top: var(--span-m);
  -webkit-box-shadow: 0 10px 40px -20px rgba(46, 78, 150, 0.4);
          box-shadow: 0 10px 40px -20px rgba(46, 78, 150, 0.4);
}

.pricing__header {
  margin-top: var(--span-s);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 var(--span-xl);
}

.pricing__rate {
  font-family: var(--Manrope);
  font-size: calc(var(--size-m) - 1px);
  font-weight: var(--weight-lg);
  color: var(--f__grayish__blue);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.pricing__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__value--lg {
  font-family: var(--Manrope);
  font-size: calc(var(--size-xl) + 4px);
  font-weight: var(--weight-xxlg);
  color: var(--f__dark__sat__blue);
  text-align: left;
}

.pricing__value--sm {
  font-family: var(--Manrope);
  font-size: calc(var(--size-m) - 1px);
  font-weight: var(--weight-lg);
  color: var(--f__grayish__blue);
  text-align: left;
}

.pricing__value .divider {
  margin-left: var(--span-xs);
  font-family: var(--Manrope);
  font-size: calc(var(--size-m) - 1px);
  font-weight: var(--weight-lg);
  color: var(--f__grayish__blue);
  text-align: left;
}

.pricing__input {
  margin-top: var(--span-l);
  padding: 0 var(--span-xl);
}

.pricing__range {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 9px;
  background: red;
  border-radius: 20px;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#a5f3eb), color-stop(var(--f__s__cyan)), color-stop(50%, #eaeefb), to(#eaeefb));
  background: linear-gradient(to right, #a5f3eb 0%, var(--f__s__cyan) var(--slide-fill), #eaeefb 50%, #eaeefb 100%);
}

.pricing__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--f__str__cyan__fill) url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 30px -5px var(--f__str__cyan__fill);
          box-shadow: 0px 10px 30px -5px var(--f__str__cyan__fill);
}

.pricing__range::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--f__str__cyan__fill) url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 10px 30px -5px var(--f__str__cyan__fill);
}

.pricing__range::-ms-thumb {
  appearance: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--f__str__cyan__fill) url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 10px 30px -5px var(--f__str__cyan__fill);
}

.pricing__check {
  width: 48px;
  height: 25px;
  border-radius: 20px;
}

.pricing__toggle {
  margin-top: var(--span-l);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 var(--span-2xl);
  gap: var(--span-s);
  margin-bottom: calc(var(--span-l) + 2px);
}

.pricing__billing {
  font-family: var(--Manrope);
  font-size: calc(var(--size-xs));
  font-weight: var(--weight-lg);
  color: var(--f__grayish__blue);
  text-align: left;
}

.pricing__discount {
  font-size: calc(var(--size-xs) - 2px);
  font-weight: var(--weight-xxlg);
  padding: 5px 8px;
  margin-left: 5px;
  border-radius: 20px;
  color: var(--f__l__red);
  background: var(--f__l__grayish__red);
}

.pricing__checkbox {
  display: block;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  outline: none;
  background: var(--f__toggle__bg);
  cursor: pointer;
}

.pricing__checkbox:checked {
  background: var(--f__s__cyan__fill);
}

.pricing__checkbox:checked::after {
  right: 4.5px;
  left: initial;
}

.pricing__checkbox::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--f__white);
  left: 4.5px;
  top: 4.5px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.pricing__footer {
  border-top: 1px solid var(--f__e__slider__blue);
  padding: var(--span-s) var(--span-xl);
  padding-top: var(--span-m);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing__list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  gap: var(--span-xs);
}

.pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--span-xs);
}

.pricing__item .icon {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing__item .text {
  font-family: var(--Manrope);
  font-size: calc(var(--size-xs));
  font-weight: var(--weight-lg);
  color: var(--f__grayish__blue);
  text-align: left;
}

.pricing__trial {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn {
  cursor: pointer;
  padding: calc(var(--span-xs) + 2px) var(--span-l);
  font-family: var(--Manrope);
  font-size: calc(var(--size-s));
  font-weight: var(--weight-lg);
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
}

.btn--blue {
  background: var(--f__dark__sat__blue);
  color: var(--f__p__blue);
}
/*# sourceMappingURL=styles.css.map */